
.dropdown{
    width: 150px;
    
}
.dropdownico{
    width: 4px;
    height: 4px;
    background-color: rgb(133, 131, 131);
    border-radius: 99px;
    margin-left: 2px;
}
.menu{
    position: absolute;
    
    width: 137px;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0px 0px 23px -4px rgba(122,122,122,1);
    -moz-box-shadow: 0px 0px 23px -4px rgba(122,122,122,1);
    box-shadow: 0px 0px 23px -4px rgba(122,122,122,1);
}

button{
    height: 55px;
    width: 137px;
    background-color: #F2F3F6;
    border: none;
    font-family: 'Open Sans', sans-serif; 
    font-weight: 600;
}

button:hover{
    background-color: rgba(192, 192, 192, 0.438);
    
}