.list{
    border: 2px solid #EDEDF0;
    background-color: #FFFFFF;
    padding: 0;
    margin-bottom: 20px;
    
    ul{
        width: 100%;
        padding: 0;
        margin: 0;
        list-style-type: none;

        .nameTop {
            @include font(15px,bold);
            margin-top: 15px;
            margin-bottom: 15px;
            color: $columnTitleColor;
            letter-spacing: 1px;
            width: 35%;
            padding-left: 30px;
        }
        .statusTop {
            @include font(15px,bold);
            justify-content: center;
            margin-top: 15px;
            margin-bottom: 15px;
            padding-left: 15px;
            color:  $columnTitleColor;
            letter-spacing: 1px;
        }  
    }
}

.item{ 
    padding: 15px;
    border: 2px solid #EDEDF0;
    border-right-style: none;
    border-left-style: none;
    border-bottom-style: none;

        .name{
            @include font(14px,600);
            color: #494E61;
            width: 35%;
            padding-left: 20px;
        }

        .status{
            width: 45%;
        }
         
        .dropdown{
            width: 20%;
        }
}






